.main-area {
  width: 100vw;
  background-color: rgb(236, 236, 236);
  height: 100vh;
  padding-top: 40px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
color: rgb(0, 0, 0);
.posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
