.main-area {
  width: 100vw;
  background-color: rgb(78, 78, 78);
  height: 100vh;
  padding-top: 40px;
  padding: 30px;
color: white;
.posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
