.post {
  width: 500px;
  height: max-content;
  background-color: white;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 10px rgb(153, 153, 153);
  border-color: rgb(112, 112, 112);
  margin-top: 10px;
  h6 {
    font-weight: bold;
  }
  div {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 0.9rem;
    .discription {
      height: 2.39rem;
      overflow-y: hidden;
    }
  }
  Button:focus{
outline:none !important;
}
}
